{% extends "base.html" %}

{% block content %}

<h2>E-mail contact</h2>

<p>
  Note: If you need to get in touch with the developers of a
  particular project hosted here, please <em>check the project's page</em>
  (e.g. <code>/projects/myprojecname</code>) to find out the appropriate
  way to contact them.
</p>

<p>
  For general help with using the service, you can subscribe to
  the <strong>users mailing lists</strong>
  at <a href="http://lists.gnu.org/mailman/listinfo/savannah-users">http://lists.gnu.org/mailman/listinfo/savannah-users</a>
  and send mail
  to <a href="mailto:savannah-users@gnu.org">savannah-users@gnu.org</a> <span style="font-size:
  smaller">(mails from non-members are accepted but moderated on a
  daily basis)</span>.
</p>

<p>
  If you are the developer of one of the projects hosted here and you
  want to get in touch with the maintainers of this server (Savannah)
  you can then contact the <strong>Savannah Hackers</strong> by submitting a
  <a href="/support/?func=addsupport&amp;group=administration">[support request]</a>
  or sending mail to <a href="mailto:savannah-help-public@gnu.org">savannah-help-public@gnu.org</a>
  (after checking the archives
  at <a href="http://lists.gnu.org/archive/html/savannah-hackers/">http://lists.gnu.org/archive/html/savannah-hackers/</a>)
  - when you want to contact us about security or confidential issues,
  you may also use the savannah-help-private@gnu.org list.
</p>

<p>
  If you have found a bug in the Savane software (the software used
  to run this server), or you would like to request a new feature, you
  should use the Bugs system in <a href="http://gna.org/projects/savane">Project Savane</a>.
</p>

{% endblock %}
{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
