{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{object.group.name}} - {{object.get_tracker_name}}{% trans ": " %}
  {{object.get_shortcut}},
  {{object.get_summary|truncatewords:5}}
{% endblock %}

{% block icon %}{{object.get_icon_name}}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{STATIC_MEDIA_URL}}savane/css/tracker.css" />
{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}

<h1 class="{{object.get_priority_css_class}}">
  <em><a href="{% url savane:tracker:item_detail object.tracker_id object.get_public_id %}"
    >{{object.get_shortcut}}</a></em>{% trans ": " %}
  {{object.get_summary}}
</h1>

<table class="tracker_item">
<tr>
  <th>{% trans "Submitted by" %}{% trans ": " %}</th>
  <td>
  {% if object.submitted_by %}
  <a href="{% url savane:svmain:user_detail object.submitted_by.username %}"
  >{{object.submitted_by.get_full_name}}
    &lt;{{object.submitted_by.username}}&gt;</a>
  {% else %}
  {% trans "Anonymous" %}
  {% endif %}</td>
  <td colspan="2" class="button"><input type="submit" style="font-weight: bold;" value="{% trans "Submit changes and browse items" %}" />
</tr>
<tr>
  <th>{% trans "Submitted on" %}{% trans ": " %}</th>
  <td>{{ object.date }}</td>
  <td colspan="2" class="button"><input type="submit" value="{% trans "Submit changes and return to this item" %}" /></td>
</tr>
{{object.get_form}}
</table>

<h2>{% trans "Post a comment" %}</h2>

<h2>{% trans "Discussion" %}</h2>

<h2>{% trans "Attached files" %}</h2>

<h2>{% trans "Dependencies" %}</h2>

<h2>{% trans "Mail notification carbon-copy list" %}</h2>

<h2>{% trans "Votes" %}</h2>

<input type="submit" value="{% trans "Submit changes" %}" />
</form>

<h2>{% trans "History" %}</h2>

{% endblock %}
{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
