{% load i18n %}
<p>{% trans "Browse through the category menu to find projects looking for your help." %}</p>
<p>{% blocktrans with '<em>' as begin_em and '</em>' as end_em %}If you're a project admin, log in, enter your project page, follow the project admin link (in the navigation bar) and you will find a {{begin_em}}Post Jobs{{end_em}} section where you can submit help wanted requests to appear in this list.{% endblocktrans %}
<p>{% trans "To suggest new job categories, visit the support manager." %}</p>
