{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "My account configuration" %}{% trans ": " %}{{title}}
{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}

<h2>{% trans "Resume - Description of experience" %}</h2>

<table>
{{form}}
</table>

<h2>{% trans "Skills" %}</h2>

{% if formset.non_form_errors %}
<div class="warn">{{formset.non_form_errors}}</div>
{% endif %}

{% include "svpeople/skill_inventory_edit.inc" %}

<input type="submit" value="{% trans "Update" %}" />
</form>

{% endblock %}
{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
