{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div style="float: left; margin: 10px;">
  <p>{% trans "Account configuration" %}</p>

  <p>
    <a href="{% url savane:my:conf %}">{% trans "Contact info" %}</a><br />
    <a href="{% url savane:my:ssh %}">{% trans "SSH public keys" %}</a><br />
    <a href="{% url savane:my:resume_skills %}">{% trans "Edit resume and skills" %}</a><br />
    <a href="{% url savane:my:group_list %}">{% trans "My groups" %}</a><br />
    <a href="{% url savane:my:membership_list %}">My memberships</a><br />
    <a href="{% url django.contrib.auth.views.password_change %}">{% trans "Change password" %}</a><br />
    <a href="{% url savane:my:i18n %}">{% trans "Set language" %}</a> ({{LANGUAGE_CODE}})<br />
  </p>
</div>

<div style="float: left; margin: 10px;">
  <p>{% trans "Public information" %}</p>

  <p>
    <a href="{% url savane:svmain:user_detail request.user.username %}">{% trans "View your public profile" %}</a><br />
  </p>
</div>

{% endblock %}
{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
