{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "My account configuration" %}{% trans ": " %}{{title}}
{% endblock %}

{% block content %}

<h2>{% trans "Publicly viewable" %}</h2>

<p>To Be Done</p>

<h2>{% trans "Resume - Description of experience" %}</h2>

<p>To Be Implemented</p>

<h2>{% trans "Skills" %}</h2>

<form action="" method="post">{% csrf_token %}
{% include "svpeople/skill_inventory_edit.inc" %}
<input type="submit" value="{% trans "Update profile" %}" />
</form>

{% endblock %}
{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
