{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Working SSH Keys</h2>

{% if ssh_keys.items %}
<p><code>$ ssh-keygen -l -f key.pub</code></p>
{% endif %}
{% for key_pk,key in ssh_keys.items %}
<ul>
<li>
  {{ key }}
  <form action="{% url savane:my:ssh_delete %}" method="post">{% csrf_token %}
    <input type="hidden" name="key_pk" value="{{key_pk}}" /><input type="submit" value="Delete" />
  </form>
</li>
</ul>
{% empty %}
  No SSH keys yet.
{% endfor %}

<h2>SSH Keys</h2>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ form.as_p }}
  <br /><input type="submit" value="Add" name="Add" />
</form>

{% endblock %}
{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
