{% extends "base.html" %}

{% block content %}
<h2>Working SSH Keys</h2>
{% for key_pk,key in ssh_keys.items %}
<li>
  {{ key }}
  <form action="delete/" method="POST">{% csrf_token %}
    <input type="hidden" name="key_pk" value="{{key_pk}}" /><input type="submit" value="Delete"</input>
  </form>
</li>
{% empty %}
  No SSH keys yet.
{% endfor %}

<h2>SSH Keys</h2>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ form_ssh.as_p }}
  <br /><input type="submit" value="Add" name="Add" />
</form>

<h2>GPG Key</h2>
<form method="post">{% csrf_token %}
  {{ form_gpg.as_p }}
  <br /><input type="submit" value="Update" name="Update" />
</form>


{% endblock %}
{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
