<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE}}" xml:lang="{{LANGUAGE_CODE}}">
  <head>
    {% load i18n %}
    <title>
      {% include "title.html" %}
      [Savannah]
    </title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_MEDIA_URL}}savane/css/Savannah.css" />
    <link rel="icon" type="image/png" href="{{STATIC_MEDIA_URL}}savane/images/icon.png" />
  </head>
  <body>
    <div class="realbody">
      <ul class="menu">
        <!-- sitemenu -->
        <li><a href="/"><img src="{{STATIC_MEDIA_URL}}savane/images/floating.png" alt="Back to homepage" border="0" width="118" height="100" /></a></li>
        {% if user.is_authenticated %}
          <li class="menutitle">Connected as {{ user.username}}</li>
          <li class="menuitem"><a href="{% url savane.my.index %}">My account</a></li>
          <li class="menuitem"><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
        {% else %}
          <li class="menutitle">Login status</li>
          <li class="menuitem"><span class="error">Not connected</span></li>
          <li class="menuitem"><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
          <li class="menuitem"><a href="{% url registration_register %}">New user</a></li>
        {% endif %}

	<li class="menutitle">Search</li>
        <li class="menuitem"><a href="{% url savane.svmain.user_list %}">Users</a></li>
        <li class="menuitem"><a href="{% url savane.svmain.group_list %}">Projects</a></li>

	<li class="menutitle">Site help</li>
        <li class="menuitem"><a href="{% url contact %}">Contact us</a></li>
        <!-- /sitemenu -->
      </ul>

      <div class="main"><a name="top"></a>
	{% block pagemenu %}
	<h1><img src="{{STATIC_MEDIA_URL}}savane/images/common/contexts1/main.orig.png"
		 width="48" height="48" alt="" class="pageicon" />{% include "title.html" %}</h1>
	<div class="topmenu" id="topmenu"></div>
	{% endblock %}

        <div class="content">
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
        {% endif %}

          {% block content %}
          {% endblock %}
        </div>
      </div><!-- end main -->
      <br class="clear" />
    </div><!-- end realbody -->

    <p class="footer">
      <!-- footer -->
      <!-- /footer -->
    </p>

    <div align="right">
      <a href="http://savannah.nongnu.org/projects/savane-cleanup">Powered by Savane</a>
    </div>
    <!-- footer ends here -->
  </body>
</html>
{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
