<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE}}" xml:lang="{{LANGUAGE_CODE}}">
  <head>
    {% load i18n %}
    <title>
      {% include "title.html" %}
      [{{ site_name }}]
    </title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_MEDIA_URL}}savane/css/main.css" />
    <link rel="icon" type="image/png" href="{{STATIC_MEDIA_URL}}savane/images/icon.png" />
  </head>
  <body>
    <ul class="menu">
      <!-- sitemenu -->
      <li><a href="{% url savane:svmain:homepage %}"><img src="{{STATIC_MEDIA_URL}}savane/images/floating.png" alt="{% trans "Back to homepage" %}" border="0" width="148" height="125" /></a></li>
      {% if user.is_authenticated %}
        <li class="menutitle">{% blocktrans with user.username as username %}Connected as {{username}}{% endblocktrans %}</li>
        <li class="menuitem"><a href="{% url savane:my:index %}">{% trans "My account" %}</a></li>
        <li class="menuitem"><a href="{% url django.contrib.auth.views.logout %}">{% trans "Logout" %}</a></li>
      {% else %}
        <li class="menutitle">{% trans "Login status" %}</li>
        <li class="menuitem"><span class="error">{% trans "Not connected" %}</span></li>
        <li class="menuitem"><a href="{% url django.contrib.auth.views.login %}?next={{request.get_full_path}}">{% trans "Login" %}</a></li>
        <li class="menuitem"><a href="{% url registration_register %}">{% trans "New user" %}</a></li>
      {% endif %}

	<li class="menutitle">{% trans "Search" %}</li>
      <li class="menuitem"><a href="{% url savane:svmain:user_list %}">{% trans "Users" %}</a></li>
      <li class="menuitem"><a href="{% url savane:svmain:group_list %}">{% trans "Projects" %}</a></li>

	<li class="menutitle">{% trans "Site help" %}</li>
      <li class="menuitem"><a href="{% url savane:svmain:contact %}">{% trans "Contact us" %}</a></li>
      <!-- /sitemenu -->
    </ul>

    <div class="main">
      {% block top %}{% comment %} top's purpose is to be emptied in index.html {% endcomment %}
      <h1><img src="{{STATIC_MEDIA_URL}}savane/images/common/contexts1/{% block icon %}main{% endblock %}.orig.png"
	       width="48" height="48" alt="" class="pageicon" />{% include "title.html" %}</h1>
      {% block topmenu %}{% comment %} topmenu is usually overriden with a block containing a call to "{% svtopmenu ... %}" {% endcomment %}
      <div class="topmenu" id="topmenu"></div>
      {% endblock %}
      {% endblock %}

      {% if messages %}
      <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div><!-- end main -->

    <p class="footer">
      <!-- footer -->
      <!-- /footer -->
    </p>

    <div align="right">
      <a href="http://savannah.nongnu.org/projects/savane-cleanup">Powered by Savane</a>
    </div>
    <!-- footer ends here -->
  </body>
</html>
{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
