{% extends "base.html" %}

{% block content %}
<ul class="section">
  <li><a href="{% url savane.my.views.sv_conf %}">General Configuration</a></li>
  <li><a href="{% url savane.my.views.sv_resume_skill %}">Resume &amp; Skill</a></li>
  <li><a href="{% url savane.my.views.sv_ssh_gpg %}">SSH/GPG Keys</a></li>
</ul>

<div class="box">
  <div class="boxtitle">Change Password</div>
  <div class="boxitem">
    <form method="post">
      <dl>
        {% for field in form_pass %}
        {% if field.is_hidden %}
        {{field}}
        {% else %}
        <dt>{{ field.label_tag }} {{ field.errors }}</dt>
        <dd>{{ field }}</dd>
        {% endif %}
        {% endfor %}
        <dd><input type="submit" value="Update" name="Update" /></dd>
      </dl>
    </form>
  </div>
</div>

<div class="box">
  <div class="boxtitle">Change E-Mail</div>
  <div class="boxitem">
    <form method="post">
      <dl>
        {% for field in form_mail %}
        {% if field.is_hidden %}
        {{field}}
        {% else %}
        <dt>{{ field.label_tag }} {{ field.errors }}</dt>
        <dd>{{ field }}</dd>
        {% endif %}
        {% endfor %}
        <dd><input type="submit" value="Update" name="Update" /></dd>
      </dl>
    </form>
  </div>
</div>

<div class="box">
  <div class="boxtitle">Change Name</div>
  <div class="boxitem">
    <form method="post">
      <dl>
        {% for field in form_identity %}
        {% if field.is_hidden %}
        {{field}}
        {% else %}
        <dt>{{ field.label_tag }} {{ field.errors }}</dt>
        <dd>{{ field }}</dd>
        {% endif %}
        {% endfor %}
        <dd><input type="submit" value="Update" name="Update" /></dd>
      </dl>
    </form>
  </div>
</div>

{% endblock %}
{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
