{% extends "base.html" %}
{% load i18n %}
{% load svtopmenu %}

{% block title %}
{{group.svgroupinfo.get_full_name_display}} - {% trans "Administration summary" %}{% trans ": " %}{{title}}
{% endblock %}

{% block icon %}preferences{% endblock %}

{% block topmenu %}
  {% svtopmenu "group" %}
{% endblock %}

{% block content %}

<h2>{% trans "Members" %}</h2>
<form action="" method="post">{% csrf_token %}
<table class="box">
<tr><th>{% trans "User" %}</th><th>{% trans "Admin" %}</th><th>{% trans "Remove?" %}</th></tr>
{% for membership in memberships %}
<tr class="{% cycle 'boxitem' 'boxitemalt' %}">
  <td>
    {{ membership.user.get_full_name }}
    &lt;<a href="{% url savane:svmain:user_detail membership.user.username %}">{{ membership.user.username }}</a>&gt;
  </td>
  <td>
    {% load svmembership %}
    {% if request.user|is_nonsuper_admin_of:group %}
    <em>{% trans "You are Admin" %}</em>
    {% else %}
    <input type="checkbox" name="admin_{{membership.pk}}" {% ifequal membership.admin_flags "A" %}checked="checked"{% endifequal %}/>
    {% endif %}
  </td>
  <td>
    {% ifequal request.user membership.user %}
    -
    {% else %}    <input type="checkbox" name="remove_{{membership.pk}}" />
    {% endifequal %}
  </td>
</tr>
{% endfor %}
</table>

<h2>{% trans "Requests for inclusion" %}</h2>
{% if pending_memberships %}
  <table class="box">
  <tr><th>{% trans "User" %}</th><th>{% trans "Approve" %}</th><th>{% trans "Reject" %}</th></tr>
  {% for membership in pending_memberships %}
  <tr class="{% cycle 'boxitem' 'boxitemalt' %}">
    <td>{{ membership.user.get_full_name }} &lt;{{ membership.user.username }}&gt;</td>
    <td><input type="checkbox" name="approve_{{membership.pk}}" /></td>
    <td><input type="checkbox" name="reject_{{membership.pk}}" /></td>
  </tr>
  {% endfor %}
  </table>
{% else %}
  <p><em>{% trans "No requests for inclusion" %}</em></p>
{% endif %}

<p><input type="submit" value="{% trans "OK" %}" /></p>
</form>

<p><a href="add/">{% trans "Add users to group" %}</a></p>

{% endblock %}

{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
