{% extends "base.html" %}
{% load i18n %}
{% load svtopmenu %}

{% block title %}
{{group.svgroupinfo.get_full_name_display}} - {% trans "Summary" %}{% trans ": " %}{{title}}
{% endblock %}

{% block icon %}people{% endblock %}

{% block topmenu %}
  {% svtopmenu "group" %}
{% endblock %}

{% block content %}

<table class="box">
<tr><th></th><th>{% trans "Member" %}</th><th>{% trans "Resume and skills" %}</th></tr>
{% for membership in group.svgroupinfo.get_active_memberships %}
<tr class="{% cycle 'boxitemalt' 'boxitem' %}">
  <td>
    {% ifequal membership.admin_flags 'A' %}
    <img class="icon"
      alt="{% trans "Project Administrator" %}"
      src="{{STATIC_MEDIA_URL}}savane/images/common/roles1/project-admin.orig.png" />
    {% else %}
    <img class="icon"
      alt="{% trans "Project Member" %}"
      src="{{STATIC_MEDIA_URL}}savane/images/common/roles1/project-member.orig.png" />
    {% endifequal %}
  </td>
  <td><a href="{% url savane:svmain:user_detail membership.user.username %}">{{ membership.user.svuserinfo.get_full_name_display }}</a></td>
  <td>TODO</td>
{% endfor %}
</table>

<p>
{% url savane:svmain:group_gpgkeyring group.name as url_gpgkeyring %}
{% blocktrans with '<a href="'|add:url_gpgkeyring|add:'">'|safe as begin_link and '</a>' as end_link %}You may also be interested in the {{begin_link}}GPG Keyring of this project{{end_link}}{% endblocktrans %}
</p>

{% endblock %}

{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
