{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% include "svmain/pagination.inc.html" %}

<form action="." method="get">
  {% trans "Search" %}: <input type="text" name="q" value="{{q}}" />
</form>

{% if object_list %}
  <table class="box">
    <tr><th>{% trans "Unix name" %}</th><th>{% trans "Full name" %}</th><th>{% trans "Short description" %}</th></tr>
    {% for object in object_list %}
    <tr class="{% cycle 'boxitem' 'boxitemalt' %}">
      <td><a href="{% url savane:svmain:group_detail object.name %}">{{ object.name }}</a></td>
      <td><a href="{% url savane:svmain:group_detail object.name %}">{{ object.svgroupinfo.full_name }}</a></td>
      <td>{{ object.svgroupinfo.short_description }}</td>
    </tr>
    {% endfor %}
  </table>
{% else %}
    <p>{% trans "No groups." %}</p>
{% endif %}

{% endblock %}

{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
