{% extends "base.html" %}
{% load i18n %}

{% block content %}

<p>
Name: {{object.name}}<br />
License: <a href="{{object.svgroupinfo.license.get_absolute_url}}">{{object.svgroupinfo.license.name}}</a><br />
Development status: {{object.svgroupinfo.devel_status}}<br />
</p>

<p>Members:</p>

{% if object.user_set.all %}
<ul>
  {% for user in object.user_set.all %}
  <li><a href="{% url savane.svmain.user_detail user.username %}">{{ user.username }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  No members!
{% endif %}

{% if user.is_authenticated %}
<form action="join/" method="POST">{% csrf_token %}
<input type="submit" value="{% trans 'Join this project' %}" />
</form>
{% endif %}

{% endblock %}

{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
