{% extends "base.html" %}
{% load i18n %}
{% load svtopmenu %}
{% load svmarkup %}

{% block title %}
{{group.svgroupinfo.get_full_name_display}} - {% trans "Summary" %}
{% endblock %}

{% block topmenu %}
  {% svtopmenu "group" %}
{% endblock %}

{% block content %}

<div class="indexright">
  <div class="box">
    <div class="boxtitle">{% trans "Membership info" %}</div>
    <div class="smaller">
      {% if group.svgroupinfo.get_admin_memberships %}
      <div class="boxitem">{% trans "Project admins:" %}</div>
      {% for membership in group.svgroupinfo.get_admin_memberships %}
      <div class="{% cycle 'boxitemalt' 'boxitem' as rowcolor %}">&nbsp;
	- <a href="{% url savane:svmain:user_detail membership.user.username %}"
	  >{{ membership.user.svuserinfo.get_full_name_display }}</a></div>
      {% endfor %}
      {% else %}
      <div class="{% cycle rowcolor %}">{% trans "No members!" %}</div>
      {% endif %}
      <div class="{% cycle rowcolor %}">{% blocktrans count group.user_set.count as count %}{{count}} active member{% plural %}{{count}} active members{% endblocktrans %}</div>
      <div class="{% cycle rowcolor %}">[<a href="{% url savane:svmain:group_memberlist group.name %}">{% trans "View members" %}</a>]</div>
    </div>
  </div>
  <div class="box">
    <div class="boxtitle">{% trans "Group identification" %}</div>
    <div class="smaller">
      <div class="boxitem">{% trans "Id:" %} <strong>#{{group.pk}}</strong></div>
      <div class="boxitemalt">{% trans "System name:" %} <strong>{{group.name}}</strong></div>
      <div class="boxitem">{% trans "Name:" %} <strong>{{group.svgroupinfo.full_name}}</strong></div>
      <div class="boxitemalt">{% trans "Group type:" %} <strong>{{group.svgroupinfo.type.name}}</strong></div>
    </div>
  </div>
</div>

<div class="indexcenter">
{% if group.svgroupinfo.status == 'P' %}
<span class="warn">{% trans "This projects is currently not approved and is waiting for moderation." %}</span>
{% endif %}
<p>{{group.svgroupinfo.type.description}}</p>
{% if group.svgroupinfo.long_description %}
{{group.svgroupinfo.long_description|svmarkup_full}}
{% else %}{% if group.svgroupinfo.short_description %}
<p>{{group.svgroupinfo.short_description}}</p>
{% else %}
{% url savane:svmain:group_admin_info group.name as url_group_admin_info %}
{% blocktrans with '<a href="'|add:url_group_admin_info|add:'">'|safe as begin_link and '</a>' as end_link %}This project has not yet submitted a short description. You can {{begin_link}}submit it{{end_link}} now.{% endblocktrans %}
{% endif %}{% endif %}
<p>
{% trans "Registration date" %}: {{group.svgroupinfo.register_time}}<br />
{% if group.svgroupinfo.type.can_use_license %}
{% trans "License" %}: <a href="{{group.svgroupinfo.license.get_absolute_url}}">{{group.svgroupinfo.license.name}}</a><br />
{% endif %}
{% if group.svgroupinfo.type.can_use_devel_status %}
{% trans "Development status" %}: {{group.svgroupinfo.devel_status}}<br />
{% endif %}
</p>
</div>

{% if user.is_authenticated %}
<form action="join/" method="post">{% csrf_token %}
<input type="submit" value="{% trans 'Join this project' %}" />
</form>
{% endif %}

{% endblock %}

{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
