{%  extends "base.html" %}
{% load i18n %}
{% load svmarkup %}

{% block top %}{% endblock %}

{% block content %}

<div class="indexright">
<!-- stats -->
  <div class="box">
    <div class="boxtitle"><a class="sortbutton" href="TODO">
	{% blocktrans %}{{site_name}} statistics{% endblocktrans %}</a></div>
    <div class="smaller">
      <div class="{% cycle 'boxitemalt' 'boxitem' as rowcolor %}">
        {% blocktrans count nb_users as count and '<strong>'|add:nb_users|add:'</strong>'|safe as html %}{{html}} registered user{% plural %}{{html}} registered users{% endblocktrans %}
      </div>
      <div class="{% cycle rowcolor %}">
        {% blocktrans count nb_groups as count and '<strong>'|add:nb_groups|add:'</strong>'|safe as html %}{{html}} hosted project{% plural %}{{html}} hosted projects{% endblocktrans %}
      </div>
      {% for conf in group_confs %}
      <div class="{% cycle rowcolor %}">
        - <a href="{% url savane:svmain:group_list %}#group_configuration=TODO">{{conf.count}} {{conf.conf.name}}</a>
      </div>
      {% endfor %}
      <div class="{% cycle rowcolor %}">+
        {% blocktrans count nb_pending as count %}{{count}} registration pending{% plural %}{{count}} registrations pending{% endblocktrans %}
      </div>
    </div>
  </div>

  <div class="box">
    <div class="boxtitle">{% trans "Help wanted" %}</div>
    {% for object in category_list %}
    <div class="smaller">
      <div class="{% cycle 'boxitemalt' 'boxitem' %}">
        - <a href="{% url savane:svpeople:job_list_by_category object.pk %}"
        >{{object.open_job_set.count}} {% trans object.label %}</a>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="box">
    <div class="boxtitle">{% trans "Most popular items" %}</div>
  </div>

  <div class="box">
    <div class="boxtitle">{% blocktrans %}Newest {{group_type}} projects{% endblocktrans %}</div>
  </div>

  <div class="box">
    <div class="boxtitle">{% blocktrans %}Newest {{group_type}} projects{% endblocktrans %}</div>
  </div>
<!-- /stats -->
</div>

<div class="indexcenter">
  <div class="intro">
  <!-- intro -->
  Intro
  <!-- /intro -->
  </div>

  <div class="boxtitle"><a href="{% url savane:svnews:news_list_admin_group %}">{% trans "Latest news" %}</a></div>
  {% with news_list as object_list %}
  {% include 'svnews/news_list.inc' %}
  {% endwith %}
  <div class="smaller {% cycle rowcolor %}">
    <a href="{% url savane:svnews:news_list_admin_group %}"
      >[{% blocktrans count news_count as count %}{{count}} news in archive{% plural %}{{count}} news in archive{% endblocktrans %}]
    </a>
  </div>
</div>

{% endblock %}

{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
