{% extends "base.html" %}
{% load i18n %}

{% block content %}

<p>
{% trans "Name:" %} {{object.slug}}<br />
{% trans "URL:" %} <a href="{{object.url}}">{{object.url}}</a><br />
</p>

<p>{% trans "Projects that use it:" %}</p>

{% blocktrans count object.svgroupinfo_set.count as count %}1 project use this license{% plural %}{{count}} projects use this license{% endblocktrans %}
<br />

{% for name in object.get_group_names %}
<a href="{% url savane:svmain:group_detail name %}">{{name}}</a>{% if forloop.last %}{%else%},{% endif %}
{% endfor %}

<p><a href="{% url savane:svmain:license_list %}">{% trans "Go to license list" %}</a></p>

{% endblock %}

{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
