{% extends "base.html" %}

{% block content %}

<p>
Name: {{object.slug}}<br />
URL: <a href="{{object.url}}">{{object.url}}</a><br />
</p>

<p>Projects that use it:</p>

{{ object.svgroupinfo_set.count }} project(s) use this license<br />

{% for name in object.get_group_names %}
<a href="{% url savane.svmain.group_detail name %}">{{name}}</a>{% if forloop.last %}{%else%},{% endif %}
{% endfor %}

<p><a href="{% url savane.svmain.license_list %}">Go to license list</a></p>

{% endblock %}

{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
