{% load i18n %}

{% if page_obj %}
<div class="pagination">
    <span class="step-links">
      {% if paginator.num_pages > 1 %}
        {% if not page_obj.has_previous %}
	  {% trans "previous" %}
	{% else %}
          <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}
	&lt;
	{% for number in paginator.page_range %}
	    {% ifequal number page_obj.number %}
	      {{ number }}
	    {% else %}
              <a href="?page={{ number }}">{{ number }}</a>
	    {% endifequal %}
        {% endfor %}
	&gt;
        {% if not page_obj.has_next %}
	    {% trans "next" %}
	{% else %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
        {% endif %}

        <span class="current">
	    -
            {% blocktrans with page_obj.number as number and paginator.num_pages as num_pages and paginator.count as count %}Page {{ page_obj.number }} on {{ num_pages }} ({{ count }}){% endblocktrans %}
        </span>
      {% else %}
        {% blocktrans count paginator.count as count %}{{count}} element{% plural %}{{count}} elements{% endblocktrans %}
      {% endif %}
    </span>
</div>
{% endif %}
