{% extends "base.html" %}

{% block content %}

<p>Name: {{object.username}}<br />
Real name: {{object.first_name}} {{object.last_name}}</p>

<p>Is a member of (using Django user.groups):</p>

{% if object.groups.all %}
<ul>
  {% for group in object.groups.all %}
  <li>
    <a href="{% url savane:svmain:group_detail group.name %}">{{ group.name }}</a>
  </li>
  {% endfor %}
  </ul>
{% else %}
  Not part of any group yet
{% endif %}

<p>Is a member of (using Membership):</p>

{% if object.membership_set.all %}
<ul>
  {% for membership in object.membership_set.all %}
  <li>
    <a href="{% url savane:svmain:group_detail membership.group.name %}">{{ membership.group.name }}</a> - with flags: {{ membership.admin_flags}}
  </li>
  {% endfor %}
  </ul>
{% else %}
  Not part of any group yet
{% endif %}

{% endblock %}

{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
