{% extends "base.html" %}

{% block content %}

{% include "svmain/pagination.inc.html" %}

<form action="." method="GET">
  Rechercher: <input type="text" name="q" value="{{q}}" />
</form>

{% if object_list %}
    <ul>
    {% for object in object_list %}
        <li><a href="{% url savane.svmain.user_detail object.username %}">{{ object.username }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users.</p>
{% endif %}

{% endblock %}

{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
