{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% include "svmain/pagination.inc.html" %}

<form action="." method="get">
  {% trans "Search" %}: <input type="text" name="q" value="{{q}}" />
</form>

{% if object_list %}
  <table class="box">
    <tr><th>{% trans "User" %}</th><th>{% trans "Full name" %}</th><th>{% trans "Profile" %}</th></tr>
    {% for object in object_list %}
    <tr class="{% cycle 'boxitem' 'boxitemalt' %}">
      <td><a href="{% url savane:svmain:user_detail object.username %}">{{ object.username }}</a></td>
      <td><a href="{% url savane:svmain:user_detail object.username %}">{{ object.svuserinfo.get_full_name_display }}</a></td>
      <td>TODO</td>
    </tr>
    {% endfor %}
  </table>
{% else %}
    <p>{% trans "No users." %}</p>
{% endif %}

{% endblock %}

{% comment %}
Local Variables: **
mode: django-html **
tab-width: 4 **
indent-tabs-mode: nil **
End: **
{% endcomment %}
